<div class="panel panel-default" data-id="<%= task.id %>">


<%= form_for task do |f| %>
    <%= task.description %>
    <%= task.priority %>
    <%= f.date_field :due_date %>
    <%= f.check_box :complete %>
<% end %>


</div>
