<div class="panel panel-default" data-id="<%= task.id %>">
  <div id="edit_task_<%= task.id %>" >
    <%= form_for task, remote: true do |f| %>
        <h4><%= task.name %></h4>
        <%= task.description %>
        <%= task.priority %>
        <%= button_to "delete task", task, method: :delete, remote: true %>
    <% end %>
  </div>
</div>
