<div class="panel panel-default" data-id="<%= task.id %>">
  <div id="edit_task_<%= task.id %>" >
    <%= form_for task, remote: true do |f| %>
        <h4><%= task.name %></h4>
        <%= task.description %>

        <%= task.due_date %>
        <%= button_to "delete task", task, id: "delete", method: :delete, remote: true, class: 'btn' %>

    <% end %>
  </div>
</div>
